@media (prefers-color-scheme: light) {
  #logo { stroke: #414558; fill: none; }
}
@media (prefers-color-scheme: dark) {
  #logo { stroke: #f2f2f2; fill: none; }
}

#root {
  display: flex;
  justify-content: center;
}

main {}

nav {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:disabled {
  border: 2px solid var(--grey);
  color: var(--grey);
}

button[disabled]:hover {
  border: 2px solid var(--grey);
  color: var(--grey);
  cursor: default;
}

label {
  font-weight: bold;
}

input {
  padding: 0.4rem 0.3rem;
  border: 2px solid var(--grey-light);
  color: var(--text-color);
  background-color: var(--bg-color);
}

input::placeholder {
  color: var(--grey-light);
}

input:focus,
input:hover {
  outline: none !important;
  border: 2px solid var(--hover);
}

input:disabled {
  color: var(--grey-light);
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
}

tr {
  border: 1px solid var(--code);
}

td, th {
  padding: 0.5rem;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.px {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.border-success {
  border: 2px solid var(--link-color);
  color: var(--link-color);
}

.btn-link-sm {
  border: 2px solid var(--link-color);
  color: var(--link-color);
  padding: 0 0.25rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.btn-link-sm:visited {
  color: var(--link-color);
}

.btn-link-sm:hover {
  border: 2px solid var(--hover);
  color: var(--hover);
}

.text-right {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .collapse {
    flex-direction: column;
  }
}
